.header-container {
    // background-color: ghostwhite;
    background-color: #21243d;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.35);
    padding: 16px;
    text-align: center;
    border-bottom: 1px solid lightgray;
    // margin-bottom: 16px;
    
    .section-title {
        font-size: 32px;
        letter-spacing: 1px;
        font-weight: 500;
        color: rosybrown;
        font-family: BabyBlocks;
    }
    
    .links {
        font-family: sans-serif;
        font-size: 14px;
        text-align: center;
        margin-top: 16px;
        color: rgba(222, 171, 253, .79);
        font-weight: 600;
        .spacer {
            margin-right: 12px;
            margin-left: 12px;
        }
        span {
            &:hover {
                text-decoration: underline;
                cursor: pointer;
                color: rgba(202, 151, 253, 1);
            }
        }
    }
}


@media screen and (max-width: 760px) {
    .header-container {
        font-size: 18px;
        overflow: hidden;
    }
}

