<div class="graph-container">
    <app-header [title]="'National&nbsp;&nbsp;Name&nbsp;&nbsp;Charts'"></app-header>
    <div class="card-container">
        <mat-card class="filter-card">
            <mat-card-content>
                <h3>Filters</h3>
                <mat-form-field class="form-field" *ngIf="showNameFilter">
                    <input matInput 
                        (keyup)="onFilterChange()" 
                        [(ngModel)]="nameFilter" 
                        placeholder="Name">
                    <button mat-button matSuffix mat-icon-button
                        *ngIf="nameFilter" aria-label="Clear" 
                        (click)="onFilterChange();">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <span class="exact-match" *ngIf="showNameFilter">
                    <mat-checkbox [(ngModel)]="exactNameMatch" (change)="onFilterChange()">Exact</mat-checkbox>
                </span>
                <mat-form-field class="form-field" *ngIf="showYearFilter">
                    <input type="number" placeholder="Year" aria-label="Year" matInput
                        [formControl]="yearControl" 
                        [matAutocomplete]="yearAuto">
                    <mat-autocomplete #yearAuto="matAutocomplete" (optionSelected)="onYearFilterChange()">
                        <mat-option *ngFor="let year of filteredYears | async" [value]="year">
                            {{year}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <h3>Charts</h3>
                <div class="chart-type" *ngFor="let chartType of chartTypes" (click)="onChangeChart(chartType.value)">
                    {{chartType.label}}
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="main-card">
            <mat-card-content>
                <top-by-year *ngIf="selectedChart == topNByYear"
                    [yearFilter]="yearControl.value">
                </top-by-year>
                <number-one-over-time *ngIf="selectedChart == numberOneOverTime">
                </number-one-over-time>
            </mat-card-content>            
        </mat-card>
    </div>    
</div>